.Pro-container {
    /* position: relative; */
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .Pro-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    /* align-items: c; */
    color: white;
    z-index: 2;
    width: 90%;
    height: 80%;
    max-width: 1200px;
    /* border: 1px solid rgb(253, 253, 253); */
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    /* overflow-y: scroll; */
  }
  .fade-in {
    opacity: 1;
  }
  
  .fade-out {
    opacity: 0;
  }
  .Pro-left {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .Pro-project-name {
    font-size: 2.5rem;
    /* margin-bottom: rem; */
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  }
  
  .Pro-details {
    display: flex;
    flex-direction: column;
  }
  
  .Pro-description {
    margin-bottom: 1rem;
  }
  
  .Pro-description h2 {
    font-size: 1.5rem;
    /* margin-bottom: 0.5rem; */
  }
  
  .Pro-description p {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .Pro-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Pro-image-container {
    width: 100%;
    max-width: 450px;
    position: relative;
    display: inline-block;
    overflow: hidden; 
    border-radius: 10px;
  }
  .Pro-image-container::before,
  .Pro-image-container::after {
    content: "";
    position: absolute;
    border: 2px solid #07ae28; /* Border color */
    width: 0;
    height: 0;
    transition: all 0.5s ease;
  }
  
  .Pro-image-container::before {
    top: 0;
    left: 0;
    border-top-width: 2px;
    border-left-width: 2px;
  }
  
  .Pro-image-container::after {
    bottom: 0;
    right: 0;
    border-bottom-width: 2px;
    border-right-width: 2px;
  }
  
  .Pro-image-container:hover::before,
  .Pro-image-container:hover::after {
    width: 100%;
    height: 100%;
  }
  
  .Cus-image {
    width: 100%;
    height: 75vh;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }

  .skills-container {
    padding: 20px;
    /* background-color: rgba(0, 0, 0, 0.8); */
    border-radius: 10px;
    color: #fff;
    font-family: Arial, sans-serif;
  }
  
  .skills-container h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    gap: 10px;
  }
  
  .skill-point {
    display: flex;
    align-items: center;
    font-size: 1rem;
  }
  
  .skill-dot {
    font-size: 1.2rem;
    margin-right: 10px;
    color: #00bcd4; /* Use a highlight color for the dot */
  }
  