/* Experience Button */
.EXP_experience-btn {
    margin-left: 15px;
    padding: 8px 15px;
    font-size: 1rem;
    background: rgba(217, 115, 115, 0.2);
    backdrop-filter: blur(10px);
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .EXP_experience-btn:hover {
    background: rgba(255, 255, 255, 0.4);
  }
  
  /* Social Media Icons */
  .EXP_social-media-container {
    display: flex;
    align-items: center;
  }
  
  .EXP_social-media-icons {
    display: flex;
    gap: 15px;
  }
  
  .EXP_social-icon {
    font-size: 1.5rem;
    color: rgb(211, 72, 72);
    transition: color 0.3s ease;
  }
  
  .EXP_social-icon:hover {
    color: #007bff;
  }
  