@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Playwrite+IE+Guides&display=swap");

.hero-container {
  /* position: relative; */
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
}
.hero-headers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  /* border: 2px solid white; */

  position: absolute;
  top: 20px;
  /* padding: 0 20px; */
  z-index: 2;
}

.hero-logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Lilita One", sans-serif;
  top: 20px;
  left: 20px;
  z-index: 2; /* Ensure it appears above the background */
}

.logo {
  width: 80px; /* Adjust size as needed */
  height: auto;
}
/* Right Side: Social Media Icons */
.social-media-icons {
  display: flex;
  gap: 15px;
}

.social-media-icons a {
  color: white;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.social-media-icons a:hover {
  color: #007bff; 
}
.hero-content {
  /* position: absolute; */
  z-index: 1;
  color: white;
  display: flex;
  flex-direction: column;

  /* padding: 20px; */
  text-align: center;
  font-size: 1.4rem;
}
/* .hero-content .arrow{
  margin-top: 40px;
} */

.hero-content h1,
.hero-content p {
  opacity: 0; 
  transform: scale(0.5); 
  animation: growIn 1s ease-out forwards; 
  
}

.hero-content h1 {
  animation-delay: 0s; 
}

.hero-content p {
  font-size: 1.2rem;
  animation-delay: 0.5s; 
}

@keyframes growIn {
  0% {
    opacity: 0;
    transform: scale(0.5); 
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.hero-content h1,
.hero-content p {
  opacity: 0;
  transform: translateX(-50px); 
  animation: fadeIn 1s ease-in-out forwards;
}

.hero-content h1 {
  animation-delay: 0.5s;
}

.hero-content p {
  animation-delay: 1.5s;

}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; /* Ensure the canvas is behind all content */
}



.up-arrow-button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  /* border: 2px solid white; */
  border-radius: 50%;
  left: 50%;
  width: 100%;
}

.up-arrow-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
 
  transition: transform 0.3s ease;
}
.up-arrow-button p{
color: white;
}

.up-arrow-button img {
  width: 40px;
  height: 40px;
}

