.buttons-container {
    position: absolute;
    bottom: 20px;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */
    width: 95vw;
    padding: 0 20px;
    /* border: 2px solid white; */
    z-index: 1;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards; 
  }
  
  .buttons-container button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s ease, transform 0.1s ease;
    transform: translateY(20px); /* Start below */
    animation: slideInUp 0.1s ease-in-out forwards;
  }
  
  .buttons-container button:nth-child(1) {
    animation-delay: 0.1s; /* Stagger animations */
  }
  .buttons-container button:nth-child(2) {
    animation-delay: 0.2s;
  }
  .buttons-container button:nth-child(3) {
    animation-delay: 0.2s;
  }
 
  
  .buttons-container button:hover {
    background-color: #000000;
    transform: scale(1.1); 
    font-size: 1.1rem;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes slideInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  