body {
  margin: 0;
  font-family: Arial, sans-serif;
  /* background-image: url('./Images/bg2.jpg'); 
  background-size: cover;        
  background-position: center;  
  background-repeat: no-repeat;  
  background-attachment: fixed; */
  color: white;
  overflow-x: hidden;
background: linear-gradient(135deg, #010c14, #062744);
}


.main{
  display: flex;
  flex-direction: column;
}
