@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;

  /* Grid background */
  background-image:
    linear-gradient(to right, rgba(15, 23, 42, 0.06) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(15, 23, 42, 0.06) 1px, transparent 1px);
  background-size: 32px 32px;
  background-color: #ffffff;
}


.dark {
  background-color: #1a202c;
  color: #e2e8f0;
}

.app-container {
  min-height: 100vh;
  transition: background-color 0.3s, color 0.3s;
}